/* Hero Section Starts Here */
.main-hero-section{
    background-color: #FEFAF5;
    height: 35rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main-hero-section__left{
    width: 50%;
}
.main-hero-section__heading{
    color: #335576;
    font-size: 2rem;
    padding: 0.5rem 0;
    width: 70%;
}
.main-hero-section__paragraph{
    color: #335576;
    font-weight: 200;
    padding: 2rem 0;
    margin-bottom: 1rem;
}
.main-hero-section__button{
    text-decoration: none;
    background-color: #DB7A4E;
    color: white;
    font-weight: 100;
    border-radius: 4rem;
    padding: 0.7rem 3rem;
}
.main-hero-section__button:hover{
    background-color: #DB7A4E;
    color: white;
    opacity: 0.8;
}
.main-hero-section img{
    height: 22rem;
    margin-top: 2rem;
}
/* Hero Section Ends Here */
/* Recommendations Section Starts Here */
.main-recomendations h1{
    color: #335576;
    font-size: 1.4rem;
    margin: 3rem 4.4rem;
}
.main-recomendations-section{
    color: #335576;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3rem 12rem;
}

.main-recomendations-section__cards{
    position:relative;
}
.main-recomendations-section__cards:hover{
    opacity: 20%;
}
.main-recomendations-section__cards p{
    color: white;
    font-weight: 600;
    font-size: 26px;
    bottom: 1rem;
    right: 1rem;
    position: absolute;
    z-index: 1;
}
.main-recomendations__hawaii img{
    height: 24rem;
    width: 15.9rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0,0.2);
    border-radius: 5px;
    border: 1px solid black rgba(0, 0, 0, 0.2);
}
.main-recomendations__iceland img{
    height: 24rem;
    width: 16.1rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0,0.2);
    border-radius: 5px;
    border: 1px solid black rgba(0, 0, 0, 0.2);
}
.main-recomendations__greece img{
    height: 24rem;
    width: 16.1rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0,0.2);
    border-radius: 5px;
    border: 1px solid black rgba(0, 0, 0, 0.2);
}
/* Recommendations Section Ends Here */


